@import "tailwindcss";

@theme {
  --color-main: #009dd1;
  --color-background: #fff;
  --color-background-second: #f6f6f6;
  --color-text: #222;
  --color-text-secont: #555;
  --color-text-third: #888;
  --color-border: #ddd;
}

body {
  background-color: var(--color-background-second);
  font-size: 15px;
}

h5 {
  font-size: 16px;
  font-weight: 600;
}

.Area {
  padding-left: 10%;
  padding-right: 10%;
}
